<h3>Recent work we have completed</h3>
<div class="row">
                <div class="span12 page-title-container">
                     <%= link_to image_tag("4.png", alt: "fire"), '#' %>

                     <div class="inner-page-title fixed">
                        <h2>Portfolios</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit integer id nibh ac est.</p>
                    </div>
                </div>
            </div>
            <hr/>
            <div class="row">
                <div class="span3">

                    <!-- start sidebar -->

                    <div class="span3 vertical-menu">
                        <ul class="nav">
                            <li><a href="portfolio_detail.html">Portfolio Item</a></li>
                            <li><a href="portfolio_detail.html">Portfolio Item</a></li>
                            <li><a href="portfolio_detail.html">Portfolio Item</a></li>
                            <li><a href="portfolio_detail.html">Portfolio Item</a></li>
                        </ul>
                    </div>
                    <!-- end sidebar -->

                </div>

                <div class="span9">

                    <div class="row">
                        <div class="span6">
                            <img src="img/portfolio-1.jpg"/>

                        </div>
                        <div class="span3">
                            <a href="portfolio_detail.html"><h4>Porfolio Item</h4></a>
                            <p>
                                Praesent nec aliquet elit. Nullam convallis placerat metus, sit amet ultrices nulla faucibus sit amet. Quisque dictum lorem sed sem pharetra luctus. Donec sed posuere nisl. Aliquam eu vestibulum mauris.

                            </p>
                            <br/>
                            <a href="portfolio_detail.html">read more</a>
                        </div>	 
                    </div>
                    <hr>

                    <div class="row">
                        <div class="span6">
                            <img src="img/portfolio-2.jpg"/>

                        </div>
                        <div class="span3">
                            <a href="portfolio_detail.html"><h4>Porfolio Item</h4></a>
                            <p>
                                Praesent nec aliquet elit. Nullam convallis placerat metus, sit amet ultrices nulla faucibus sit amet. Quisque dictum lorem sed sem pharetra luctus. Donec sed posuere nisl. Aliquam eu vestibulum mauris.

                            </p>
                            <br/>
                            <a href="portfolio_detail.html">read more</a>
                        </div>	 
                    </div>
                    <hr>
                    <div class="row">
                        <div class="span6">
                            <img src="img/portfolio-3.jpg"/>

                        </div>
                        <div class="span3">
                            <a href="portfolio_detail.html"><h4>Porfolio Item</h4></a>
                            <p>
                                Praesent nec aliquet elit. Nullam convallis placerat metus, sit amet ultrices nulla faucibus sit amet. Quisque dictum lorem sed sem pharetra luctus. Donec sed posuere nisl. Aliquam eu vestibulum mauris.

                            </p>
                            <br/>
                            <a href="portfolio_detail.html">read more</a>
                        </div>	 
                    </div>
                    </div>
                </div>
