<h3>Recent work we have completed</h3>
<div class="row">
                <div class="span12 page-title-container">
                     <%= link_to image_tag("4.png", alt: "Bathroom design picture"), '#' %>

                     <div class="inner-page-title fixed">
                            <br/>
                            <br/>
                            <br/>
                        <h2>Portfolio</h2>
                        <p>Here is the detail on some of our work.</p>
                    </div>
                </div>
            </div>
            <hr/>
            <div class="row">
                <div class="span3">

                </div>

                <div class="span9">

                    <div class="row">
                        <div class="span3">
                           <%= link_to image_tag("moonbath.png", alt: "Moon and sixpence bathroom"), '#' %>
                        </div>
                        <div class="span3">
                           <%= link_to image_tag("moonshower.png", alt: "Moon and sixpence bathroom"), '#' %>
                        </div>
                        <div class="span3">
                            <a href="http://www.moon-and-sixpence.co,uk"><h4>The Moon and Sixpence</h4></a>
                            <p>
                               Design supply and fit of accomadation bathrooms for the renowned seafront bar and brasserie in Whitby.  
                            </p>
                        </div>
                        <div class="span9">
                            <br/>
                            <blockquote>
                              <p>
                                 &quot I'd reccommend Trevor without  hesitation. He did an excellent job for us.&quot - Dave Ellis - Moon and Sixpence - Whitby.
                              </p>
                           </blockquote>
                        </div>	 
                    </div>
                    <hr>

                    <div class="row">
                        <div class="span3">
                           <%= link_to image_tag("peregrine-house.jpg", alt: "peregrinehouse plumbing"), {:class => '.img-rounded'} %>
                        </div>
                        <div class="span6">
                            <a href="http://peregrinehouse.com"><h4>Peregine House</h4></a>
                            <p>
                                Fitting of wetrooms and underfloor heating for 14 rooms in the Pereginehouse residential care home.
                            </p>
                            <blockquote>
                              <p>
                                 &quot Brilliant quote from Peregine.&quot - Owner - Peregine House - Whitby. Oct 2012
                              </p>
                           </blockquote>
                            <br/>
                        </div>	 
                    </div>
                    <hr>
                    <div class="row">
                        <div class="span6">
                           <! - <img src="moonbath.png"/> 

                        </div>
                        <div class="span3">
                            <a href="portfolio_detail.html"><h4>Porfolio Item 3</h4></a>
                            <p>
                                Pictures and details coming soon.
                            </p>
                            <br/>
                        </div>	 
                    </div>
                    </div>
                </div>
