<div class="row">
                <div class="span12 page-title-container">
                <%= link_to image_tag("page-about.jpg", alt: "Fireplace"), '#' %>

                    <div class="inner-page-title fixed">
                        <h2>About</h2>
                        <p> TA Freeman Plumbing and Heating Engineers. Est 1980</p>
                    </div>
                </div>
</div>
<hr>
<div class="row">
                <div class="span12">
                    <div class="span12 single">
                        <p>
 If you are looking for a reliable and skilled plumber with a focus on customer service give us a call today. Please browse our website for information on all of our services                        
                       </p>
                       <p>
As well as our domestic services at TA Freeman Plumbing and Heating we can also carry out work on commercial heating and plumbing systems. As with our domestic customers we know that a business cannot afford long disruptions caused by loss of heating or water supplies so we will always turn up when we say we will and will work quickly to resolve any problems</p>
                        <blockquote>
                            <p>
We can also undertake contract maintenance work and regular servicing to try to prevent problems happening in the first place.
</p>
                            <small>Someone famous</small>
                        </blockquote>
                        <div class="row">
                            <div class="span4">


                                Etiam pellentesque, magna eget lobortis placerat, leo leo consequat ante, non iaculis turpis augue ac ligula. Nunc blandit tincidunt consequat.
                                <ul>
                                  <li>Annual Boiler Services</li>
                                  <li>Gas Boiler Installation</li>
                                  <li>Combi Boiler Repairs</li>
                                  <li>Gas Fire Repairs</li>
                                  <li>Plumbing Services</li>
                                  <li>Gas Boiler Insurance Cover</li>
                                  <li>Landlord Safety Certificates</li>
                                  <li>All types of plumbing work from full bathroom suitesto leaking taps</li>
                                  <li>Sell and Install Gas Fires and Surrounds</li>
                                </ul>

                            </div>
                            <div class="span2">
                                <img src="img/service-1.jpg"><br><br>
                                <p> Etiam pellentesque, magna eget lobortis placerat, leo leo consequat ante</p>
                            </div>
                            <div class="span2">
                                <img src="img/service-2.jpg"><br><br>
                                <p> Etiam pellentesque, magna eget lobortis placerat, leo leo consequat ante</p>
                            </div>
                        </div>
                        <hr>
                        <p>

Whether you are looking for a new boiler or central heating system to be installed or alternatively are looking to increase the efficiency of your current system by carrying out, for example a powerflush, then our engineers at TA Freeman have the necessary knowledge, experience and accreditations to do this.
                        </p>

                    </div>
                </div>
            </div>
