<div class="row">
                <div class="span12 page-title-container">
                <%= link_to image_tag("page-about.jpg", alt: "Fireplace"), '#' %>

                    <div class="inner-page-title fixed">
                        <h2>About</h2>
                        <p> TA Freeman Plumbing and Heating Engineers. Est 1980</p>
                    </div>
                </div>
</div>
<hr>
<div class="row">
                <div class="span3">
                    <h3>What We Do</h3>
                    <p>
                        Pellentesque eu velit at mauris tinc feugiat eget ut lorem. Pellentesque sollicitudin sodales diam.

                        Suspendisse semper, tortor et lobortis mattis, turpis lacus placerat tortor, quis convallis metus mi vitae quam.

                        Pellentesque eu velit at mauris tinc feugiat eget ut lorem at dignissim dui ligula eu tellus. &nbsp;<a href="about.html">more detail</a>
                    </p>
                </div>
                <div class="span9">
                    <div class="row">
                        <div class="span9">
                            <h3>Services</h3><a href="services.html" class="pull-right">view all services</a>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="span9">
                            <ul class="thumbnails">
                                <li class="span3">
                                    <div class="service-box">
                                        <div class="caption">
                                            <a href="service_detail.html"><h4>First Service</h4></a>
                                            <p>
                                                Cum sociis natoque penatibus et magnis dis parturient montes
                                            </p>
                                        </div>
                                        <a href="service_detail.html"><img alt="" src="img/service-1.jpg"></a>

                                    </div>
                                </li>       
                                <li class="span3">
                                    <div class="service-box">
                                        <div class="caption">
                                            <a href="service_detail.html"><h4>Second Service</h4></a>
                                            <p>
                                                Cum sociis natoque penatibus et magnis dis parturient montes
                                            </p>
                                        </div>
                                        <a href="service_detail.html"><img alt="" src="img/service-2.jpg"></a>

                                    </div>
                                </li>       
                                <li class="span3">
                                    <div class="service-box">
                                        <div class="caption">
                                            <a href="service_detail.html"><h4>Third Service</h4></a>
                                            <p>
                                                Cum sociis natoque penatibus et magnis dis parturient montes
                                            </p>
                                        </div>
                                        <a href="service_detail.html"><img alt="" src="img/service-3.jpg"></a>

                                    </div>
                                </li>        

                            </ul>
                        </div>
                    </div>

                </div>
                <div class="span12">
                </div>
            </div>

<div class="span12">
                    <hr>
                </div>

<div class="row">
                <div class="span3">
                    <h3>About Us</h3>
                    <p>
                        Suspendisse semper, tortor et lobortis mattis, turpis lacus placerat tortor, quis convallis metus mi vitae quam.

                        Disse semper, tortor et lobortis mattis, turpis lacus placerat tortor, quis conval ante. more about us
                    </p>
                    <p>
                        Suspendisse semper, tortor et lobortis mattis, turpis lacus placerat tortor, quis convallis metus mi vitae quam.
                        &nbsp;<a href="about.html">more detail</a>
                    </p>
                </div>
                <div class="span9">
                    <div class="row">
                        <div class="span3">
                            <ul id="news-box"> 
                                <li class="first"> 
                                    <a href="blog.html">Vivamus imperdiet, massa sed...</a> <br> 
                                    <span>April 20th, 2011</span> 
                                </li> 
                                <li> 
                                    <a href="blog.html">Vestibulum varius neque ultrices eget lobortis ligula venenatis nec</a> <br>
                                    <span>March 10th, 2011</span> 
                                </li> 
                                <li> <a href="blog.html">Quisque sed eros orci</a> <br> 
                                    <span>February 5th, 2011</span> 
                                </li> 
                                <li> 
                                    <a href="blog.html">Vivamus imperdiet, massa sed...</a> <br> 
                                    <span>April 20th, 2011</span> 
                                </li> 
                                <li> 
                                    <a href="blog.html">Vestibulum varius neque ultrices eget lobortis ligula venenatis nec</a> <br>
                                    <span>March 10th, 2011</span> 
                                </li> 

                                <li class="last"> 
                                    <a href="blog.html">more news</a> 
                                </li> 
                            </ul>
                        </div>
                        <div class="span6">

                            <div class="row">
                                <div class="span6">
                                    <blockquote>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante venenatis.</p>
                                        <small>Someone famous</small>

                                    </blockquote>



                                    <blockquote>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante venenatis.</p>
                                        <small>Someone famous</small>
                                    </blockquote>
                                    <br>
                                    <a href="testimonials.html">more testimonials</a>
                                    <hr>
                                </div>
                            </div>
                            <div class="row">
                                <div class="span6">
                                    <h3>Partners</h3><br>
                                    <ul class="thumbnails">
                                        <li class="span2">
                                            <div class="service-box">
                                                <a href="service_detail.html"><img alt="" src="http://placehold.it/200x120"></a>

                                            </div>
                                        </li>
                                        <li class="span2">
                                            <div class="service-box">
                                                <a href="service_detail.html"><img alt="" src="http://placehold.it/200x120"></a>

                                            </div>
                                        </li>
                                        <li class="span2">
                                            <div class="service-box">
                                                <a href="service_detail.html"><img alt="" src="http://placehold.it/200x120"></a>

                                            </div>
                                        </li>        

                                    </ul>
                                </div>
                            </div>


                        </div>
                    </div>

                </div>

            </div>
