  <footer>
                <hr/>
                <div class="row">
                    <div class="span3">
                        <h4>&COPY; 2012 T A Freeman</h4><br/>

                        All right are reserved.<br/>
                        <a href="#">Terms of Service</a> | <a href="#">Privacy Policy</a>
                    </div>
                    <div class="span3">
                        <h4>Contact Info</h4>
                        <br />
                        <p>
                            Trevs name<br/>
                            Trevs Adrres line1<br/>
                            Address line2<br/>
                            Post Code<br/>
                            T: +00 1234 5678
                        </p>
                    </div>

                    <div class="span3">
                        <h4>Quick Navigation</h4>
                        <br/>
                        <ul>
                            <li><a href="">Home</a></li>
                            <li><a href="">About</a></li>
                            <li><a href="">Services</a></li>
                            <li><a href="">Products</a></li>
                            <li><a href="">Portfolio</a></li>
                            <li><a href="#">Contact us</a></li>
                        </ul>
                    </div>
                    <div class="span3">
                        <h4>Connect with us</h4>
                        <br/>
                        <%= link_to image_tag("twitter.png", alt: "twitter"), 'http://www.twitter.com/' %>
                        <a href="http://twitter.com/">Twitter</a>
                        <br/><br />
                        <%= link_to image_tag("facebook.png", alt: "facebook"), 'http://www.facebook.com/' %>
                        <a href="http://facebook.com/">Facebook</a>
                    </div>

                </div>
  </footer>

